.btn{
    border:0!important;
    margin: 0.1em;
}

.btn-primary{
    background: #B10061!important;
}

.btn-secondary{
    background: #EEEEEE!important;
    color: #E2007C!important;
}

body{
    background: #343D47!important;
}

::-webkit-scrollbar{display:none;}

.header{
    filter: drop-shadow(2px 5px 0px 0px rgba(255,255,255,1));
}