@font-face {
    font-family: 'aileronregular';
    src: url('aileron-regular.woff2') format('woff2'),
         url('aileron-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

*{font-family: aileronregular!important;}

h1, p{
    color: #ffffff!important;
}

h1{
    font-size: 60px!important;
    font-weight: 100!important;
}

img{
    border-radius: 900px!important;
    background-color: aqua!important;
    width: 25vh;
    height: 25vh;
}

a{
    height: 40px!important;
    line-height: 40px!important;
    vertical-align: middle!important;
    border: 1.5px white solid;
    padding: 30px!important;
    bottom: 30%;
    color: #ffffff!important;
    transition: background 0.2s ease;
}

body{
    text-align: center;
}

.container{
    margin-bottom: 15vh;
    margin-left: auto!important;
}

a:hover{
    transition: background 0.2s ease;
    background: #ffffff!important;
    color: #000000!important;
    text-decoration: none!important;
}