@import url('https://fonts.googleapis.com/css?family=Comfortaa');

*{font-family: Comfortaa, Century Gothic, sans-serif!important;}

body{
    margin: 0px;
    padding: 0px;
    background: #21262d;
}


#cover1{background-image: url(http://i.imgur.com/ywklp5D.jpg);}
#cover2{background-image: url(http://i.imgur.com/1odRAGi.jpg);}
#cover3{background-image: url(http://i.imgur.com/WSvSvqi.jpg);}

.cover{
    background-size: cover;
    text-align: center;
    width: 100%;
    height: 40%;
    box-shadow: 0px 8px 48px 8px rgba(0,0,0,0.3);
}

.cover, .content-div, .social-links{
    margin-bottom: 40px;
}

.myname{
    color: rgb(255,255,255);
    font-size: 60pt;
    padding-top: 15vh;
    text-shadow: 0px 5px 2px rgba(71, 71, 71, 1);
    padding-bottom: 16px;
}

.scroll-down{
    width: 130px;
    height: auto;
    bottom: -100px;
    margin-top:-50px;
}

.social-links{
    height: 60px;
    padding: 16px;
    text-align: center;
}

.content-div{
    padding: 16px;
}

.social-links, .content-div{
    background: #1d4687;
    width: 80%;
    border-radius: 4px;
    border: 1px rgba(255,255,255,0.4) solid;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 2px 3px 1px rgba(0,0,0,0.3);
}

p, h1, h2{
    font-family: Comfortaa, Century Gothic, sans-serif!important;
}

h2{
    color: rgb(255,255,255);
}

.social-icon{
    width: 56px;
    height: auto;
    margin-left: 8px;
    margin-right: 8px;
    -webkit-filter: contrast(10%);
    transition: all 0.2s ease;
    filter:invert(1);
}

.social-icon:hover{
    -webkit-filter: contrast(100%);
    transition: all 0.2s ease;
    margin-left: 16px;
    margin-right: 16px;
    filter:invert(1);
}

.social-icon-link{
    color: transparent;
}

h1, p{color:white;}

a{text-decoration:none; color:#6da5ff;}
