body{
  color:white;
  background:#36393e;
}

h1, h2, .paragraph{
  margin-left:12px;
  margin-right:12px;
  text-align:left;
}

img{
  position:relative;
  margin-left:auto;
  margin-right:auto;
  text-align:center!important;
}

code{
  display:block;
  width:100%;
  padding:12px;
  background:rgba(255,255,255,0.2);
  margin-top:3px;
  margin-bottom:3px;
}

div p{
  margin:12px;
  text-align:center;
  font-size:larger;
  padding-top:12px;
}

.footer{
  position:fixed;
  width:100%;
  height:48px;
  background:#000000;
  bottom:0;
}
