h1, h2, .paragraph{
  margin-left:12px;
  margin-right:12px;
  text-align:left;
}

img{
  position:relative;
  margin-left:auto;
  margin-right:auto;
  text-align:center!important;
}

body{
  color:white;
  background:#36393e;
}
